/* general */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url("background.svg");
}

.header {
    padding: 100px;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("vacina.jpeg");
    background-position: center;
    background-repeat: no-repeat;   
    background-size: cover;
    color: white;
}
  
.header h1 {
    font-size: 40px;
}
  
.navbar {
    background-color: #099ffc;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar a {
    color: rgba(240, 240, 240);;
    padding: 20px;

    width: 25%;
    text-align: center;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #76d5fc;
    color: rgba(30, 30, 30);;
}

.navbar a.active {
    background-color: #0484fc;
    color: rgba(240, 240, 240);;
}

main {
    margin: 25px;
}

hr {
    border-top: 1px solid rgba(0,0,0,.1);
    width: 80%;
}

footer {
    background-color: #0484fc;
    text-align: center;
    color:rgba(240, 240, 240);
    padding: 30px;
}

/* home */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slide {
    text-align: center;
}

.video {
    width: 640px;
    height: 360px;
}

.slides {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.news-title {
    margin-bottom: 12px;
    text-align: center;
}

.news-subtitle {
    margin-bottom: 12px;
    text-align: center;
}

.text {
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}

.prev, .next {
    cursor: pointer;
    color: white;
    padding: 10px;
    background-color: black;
    border-radius: 50px;
  }

/* sobre */

.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.person {
    position: relative;
    text-align: center;
}

.foto {
    width: 25%;
    height: 25%;
}

.background {
    margin: 0 auto;
    text-align: justify;
    text-justify: inter-word;
    width: 50%;
}

.linkedin {
    width: 3%;
    height: 3%;
}

.container {
    position: relative;
    width: 100%;
    text-align: center;
}

/* contato */

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
}

.contato-elemento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.campo-email {
    margin-top: 10px;
    width: 100%;
}

.rodape-email {
    margin-top: 5px;
}

.campo-texto {
    margin-top: 10px;
    width: 100%;
    height: 200px;
}

.botao {
    color: white;
    background-color: #007bff;
    padding: 10px 15px;
    border-radius: 5px;
    border-style: none;
    outline-style: none;
    cursor: pointer;
}

.botao:hover {
    background-color: rgba(0, 105, 217);
}

/* saiba mais */

.saiba-mais {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.saiba-mais p {
    margin: 10px;
    width: 50%;
}

.fonte {
    color: blue;
    text-decoration: none;
}

.fonte:hover {
    color: blue;
    text-decoration: underline;
}